.navbar *{
    text-decoration: none;
    color:black;
    font-style: "San Francisco";
    font-size: 16px;
}

.navbar{
    display:flex;
    margin-left: 150px;
    margin-right: 150px;
}

.categories{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(13, 1fr);
    margin-left: 40px; 
    margin-right: 40px;
    margin-top: 10px;
    background-color: #f5f4f6;
}

.categories *{
    text-decoration: none;
    color: #666362;
    text-align: center;
    font-style: "San Francisco";
    font-size: 12px;
}

.offers{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 12px;
    font-style: "San Francisco";
    text-align: center;
    color: #666362;
}
#learn{
    text-decoration: none;
}
.adventure{
        font-size: 40px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: 0em;
        font-family: "SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif";
}
.price{
    font-size: 25px;
    font-weight: 400;
}
.p-banner{
    padding-top: 5%;
    padding-bottom:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: #f5f4f6;
}
.button {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
    text-decoration: none;
}
.links{
    margin-top: 15px;
}

.links a{
    text-decoration: none;
    font-weight:500;
}

.s-banner{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;;
    gap: 10%;
}

.heathy{
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif";
}
#color, #color-s{
    color: #fff;
}
.s-banner-i{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#color{
    font-size: 50px;
}
#color-s{
    font-size: 25px;
}
.t-banner{
    display:flex;
    background-color: #f5f4f6;
    padding-top:10%;
    justify-content:center;
    align-items: center;
    gap:10%;
    padding-bottom: 10%;
}
.t-banner-i{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tbp{
    font-size:40px;
    font-weight: 500;
}
#tbp2{
    font-size: 20px;
    font-weight: 600;
}
.ques{
    text-align: center;
}
.features{
   display:flex;
   justify-content: center;
}
.features-col{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.para-i{
    font-size:20px;
    font-weight:500;
}
.para-s{
color: #666362;
}
.ques-links{
    text-decoration: none;
}
hr{
    width:80%;
    margin-left: 10%;
}
.list{
    position: absolute;
    margin-left: 30%;
}
iframe{
    margin-left: 30%;
    margin-top: 20px;
}